absl-py==0.10.0
aiohttp==3.6.2
aioredis==1.3.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.1.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
ax-platform==0.1.14
beautifulsoup4==4.9.1
blessings==1.7
blinker==1.4
botorch==0.3.0
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1596822027882/work
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1598370769933/work
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorful==0.5.4
cryptography @ file:///tmp/build/80754af9/cryptography_1598371395109/work
cycler==0.10.0
decorator==4.4.2
dill==0.3.2
filelock==3.0.12
future==0.18.2
gast==0.3.3
google==3.0.0
google-api-core==1.22.1
google-auth @ file:///tmp/build/80754af9/google-auth_1596863485713/work
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
gpytorch==1.1.1
grpcio @ file:///tmp/build/80754af9/grpcio_1597424474635/work
gym==0.17.2
h5py @ file:///tmp/build/80754af9/h5py_1593454122442/work
hiredis==1.1.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown @ file:///tmp/build/80754af9/markdown_1597433240441/work
MarkupSafe==1.1.1
matplotlib==3.3.1
mdutils==1.2.2
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
multidict==4.7.6
networkx==2.5
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233721170/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.10
opencensus-context==0.1.1
opt-einsum==3.1.0
pandas==1.1.1
Pillow==7.2.0
plotly==4.9.0
prometheus-client==0.8.0
protobuf==3.13.0
psutil==5.7.2
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyglet==1.5.0
PyJWT==1.7.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
ray==0.8.7
redis==3.4.1
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
retrying==1.3.3
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
scikit-learn==0.23.2
scipy @ file:///tmp/build/80754af9/scipy_1597686649129/work
seaborn==0.11.0
six==1.15.0
soupsieve==2.0.1
stable-baselines3==0.8.0
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.2.1
tensorflow-estimator==2.2.1
termcolor==1.1.0
threadpoolctl==2.1.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
torch==1.6.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.5.1
zipp==3.1.0
